@import "../../styles/colors";

.principal-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $main-black;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

@media screen and (min-width: 750px) and (max-width: 1010px) {
  .movies-list {
    width: 750px;
  }
}

@media screen and (min-width: 1010px) and (max-width: 1250px) {
  .movies-list {
    width: 1000px;
  }
}

@media screen and (min-width: 1250px) {
  .movies-list {
    width: 1240px;
  }
}
