.principal-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

@media screen and (min-width: 750px) and (max-width: 1010px) {
  .product-list {
    width: 750px;
  }
}

@media screen and (min-width: 1010px) and (max-width: 1250px) {
  .product-list {
    width: 1000px;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1549px) {
  .product-list {
    width: 1240px;
  }
}

@media screen and (min-width: 1550px) {
  .product-list {
    width: 1440px;
  }
}
