@import "../../styles/colors", "../../styles/sizes";

header {
  width: 100%;
  height: $header-height;
  background-color: $main-color;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.options {
  display: flex;

  h2 {
    margin: 0px 20px;
  }
}
