@import "../../styles/colors", "../../styles/sizes";

header {
  width: 100%;
  height: $header-height;
  background-color: $main-color;
  color: white;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-size: 15px;
  }
}

.options {
  display: flex;

  h2 {
    margin: 0px 20px;
    font-size: 13px;
  }
}

@media screen and (min-width: 600px) {
  header {
    h1 {
      font-size: 22px;
    }
  }

  .options {
    h2 {
      font-size: 19px;
    }
  }
}

@media screen and (min-width: 900px) {
  header {
    h1 {
      font-size: 30px;
    }
  }

  .options {
    h2 {
      font-size: 24px;
    }
  }
}
